USE [master]
GO
/****** Object:  Database [QLBanHang2]    Script Date: 5/10/2020 9:44:30 AM ******/
CREATE DATABASE [QLBanHang2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanHang2', FILENAME = N'D:\download\sql\MSSQL14.NHAN\MSSQL\DATA\QLBanHang2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBanHang2_log', FILENAME = N'D:\download\sql\MSSQL14.NHAN\MSSQL\DATA\QLBanHang2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanHang2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanHang2]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 5/10/2020 9:44:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MAHD] [nvarchar](10) NOT NULL,
	[MAHANG] [nvarchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHANG]    Script Date: 5/10/2020 9:44:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHANG](
	[MAHANG] [nvarchar](10) NOT NULL,
	[TENHANG] [nvarchar](50) NULL,
	[MANCC] [nvarchar](10) NULL,
	[DVT] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/10/2020 9:44:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](10) NOT NULL,
	[NGAYHD] [datetime] NULL,
	[MAKH] [nvarchar](10) NULL,
	[LOAIHD] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/10/2020 9:44:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](10) NOT NULL,
	[HOLOT] [nvarchar](50) NULL,
	[TENKH] [nvarchar](50) NULL,
	[PHAI] [bit] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/10/2020 9:44:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHOADON] ([MAHD], [MAHANG], [SOLUONG], [DONGIA]) VALUES (N'HD01', N'MH04', 4, N'3000')
INSERT [dbo].[CTHOADON] ([MAHD], [MAHANG], [SOLUONG], [DONGIA]) VALUES (N'HD01', N'MH01', 7, N'2000')
INSERT [dbo].[CTHOADON] ([MAHD], [MAHANG], [SOLUONG], [DONGIA]) VALUES (N'HD02', N'MH05', 1, N'6000')
INSERT [dbo].[DMHANG] ([MAHANG], [TENHANG], [MANCC], [DVT]) VALUES (N'MH01', N'Đường', N'CC03', N'Kg')
INSERT [dbo].[DMHANG] ([MAHANG], [TENHANG], [MANCC], [DVT]) VALUES (N'MH02', N'Bia Tiger', N'CC01', N'Thùng')
INSERT [dbo].[DMHANG] ([MAHANG], [TENHANG], [MANCC], [DVT]) VALUES (N'MH03', N'Bia Bến Thành', N'CC01', N'Thùng')
INSERT [dbo].[HOADON] ([MAHD], [NGAYHD], [MAKH], [LOAIHD]) VALUES (N'HD01', CAST(N'2018-08-12T00:00:00.000' AS DateTime), N'KH03', N'B')
INSERT [dbo].[HOADON] ([MAHD], [NGAYHD], [MAKH], [LOAIHD]) VALUES (N'HD02', CAST(N'2018-09-24T00:00:00.000' AS DateTime), N'KH01', N'M')
INSERT [dbo].[HOADON] ([MAHD], [NGAYHD], [MAKH], [LOAIHD]) VALUES (N'HD03', CAST(N'2018-12-30T00:00:00.000' AS DateTime), N'KH04', N'B')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOLOT], [TENKH], [PHAI], [DIACHI], [DIENTHOAI]) VALUES (N'KH01', N'Nguyễn Thu', N'Hằng', 0, N'123 CMT8', N'1111111')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOLOT], [TENKH], [PHAI], [DIACHI], [DIENTHOAI]) VALUES (N'KH02', N'Nguyễn Hồ Minh', N'Đức', 1, N'50/5 Tô Hiến Thành', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOLOT], [TENKH], [PHAI], [DIACHI], [DIENTHOAI]) VALUES (N'KH03', N'Đinh Thị Thu', N'Hường', 0, N'12 Ông Ích Khêm', N'22222222')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI]) VALUES (N'CC01', N'Công ty Bia nước ngọt Đà Nẵng', N'50 Hùng Vương', N'0903111111')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI]) VALUES (N'CC02', N'Công ty bánh kẹo Biên Hòa', N'90 An Dương Vương', N'0912222222')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI]) VALUES (N'CC03', N'Công ty Đường Quảng Ngãi', N'222 Trần Phú', N'0903333333')
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MAHANG])
REFERENCES [dbo].[DMHANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[DMHANG]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
USE [master]
GO
