USE [master]
GO
/****** Object:  Database [QLSinhVien]    Script Date: 5/17/2020 4:52:51 PM ******/
CREATE DATABASE [QLSinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSinhVien', FILENAME = N'D:\download\sql\MSSQL14.NHAN\MSSQL\DATA\QLSinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSinhVien_log', FILENAME = N'D:\download\sql\MSSQL14.NHAN\MSSQL\DATA\QLSinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSinhVien]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [nvarchar](10) NOT NULL,
	[TENGV] [nvarchar](50) NULL,
	[GT] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[NAMOLDESE]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NAMOLDESE]
AS
SELECT TOP 1  MAGV, TENGV,DATEDIFF(YY, NGAYSINH, GETDATE()) AS TUOI, CASE GT WHEN 1 THEN 'NAM' ELSE 'NU' END AS PHAI
FROM GIAOVIEN
WHERE GT = 1
ORDER BY TUOI DESC
GO
/****** Object:  View [dbo].[NUOLDESE]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NUOLDESE]
AS
SELECT TOP 1 MAGV, TENGV,DATEDIFF(YY, NGAYSINH, GETDATE()) AS TUOI, CASE GT WHEN 1 THEN 'NAM' ELSE 'NU' END AS PHAI
FROM GIAOVIEN
WHERE GT = 0
ORDER BY TUOI DESC
GO
/****** Object:  Table [dbo].[GIANGDAY]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGDAY](
	[MAGV] [nvarchar](10) NULL,
	[MALOP] [nvarchar](10) NULL,
	[MAMH] [nvarchar](10) NULL,
	[TGBD] [datetime] NULL,
	[TGKT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TBGIODAYGV]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TBGIODAYGV] 
AS
SELECT MAGV , AVG(DATEDIFF(HH, TGBD, TGKT)) AS DIEMTB
FROM GIANGDAY
WHERE TGKT IS NOT NULL
GROUP BY MAGV
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [nvarchar](10) NOT NULL,
	[MAMH] [nvarchar](10) NOT NULL,
	[DIEMLAN1] [float] NULL,
	[DIEMLAN2] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](10) NOT NULL,
	[TENSV] [nvarchar](200) NULL,
	[HOLOT] [nvarchar](200) NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[MALOP] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MAMH_MALOP_CHUACODIEM]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MAMH_MALOP_CHUACODIEM]
AS
SELECT MAMH, MALOP
FROM DIEM, (SELECT MASV, MALOP FROM SINHVIEN) LOP
WHERE (DIEMLAN1 IS NULL OR DIEMLAN2 IS NULL) AND DIEM.MASV = LOP.MASV
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](10) NOT NULL,
	[TENLOP] [nvarchar](200) NULL,
	[CVHT] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 5/17/2020 4:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nvarchar](10) NOT NULL,
	[TENMH] [nvarchar](200) NULL,
	[SOTC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIEM] ([MASV], [MAMH], [DIEMLAN1], [DIEMLAN2]) VALUES (N'SV01', N'CSDL', 11, NULL)
INSERT [dbo].[DIEM] ([MASV], [MAMH], [DIEMLAN1], [DIEMLAN2]) VALUES (N'SV01', N'CTDL', 7, 6.5)
INSERT [dbo].[DIEM] ([MASV], [MAMH], [DIEMLAN1], [DIEMLAN2]) VALUES (N'SV01', N'TIDC', 10.5, NULL)
GO
INSERT [dbo].[GIANGDAY] ([MAGV], [MALOP], [MAMH], [TGBD], [TGKT]) VALUES (N'CNTCNP01', N'K19TPM', N'CSDL', CAST(N'2020-04-11T00:00:00.000' AS DateTime), CAST(N'2020-06-10T00:00:00.000' AS DateTime))
INSERT [dbo].[GIANGDAY] ([MAGV], [MALOP], [MAMH], [TGBD], [TGKT]) VALUES (N'CNTCNP01', N'K19TPM', N'CTDL', CAST(N'2020-04-11T00:00:00.000' AS DateTime), CAST(N'2020-06-10T00:00:00.000' AS DateTime))
INSERT [dbo].[GIANGDAY] ([MAGV], [MALOP], [MAMH], [TGBD], [TGKT]) VALUES (N'CNTCNP02', N'K19TPM', N'TIUD', CAST(N'2020-06-11T00:00:00.000' AS DateTime), CAST(N'2020-10-10T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [TENGV], [GT], [NGAYSINH], [DIACHI]) VALUES (N'CNTCNP01', N'LÊ ANH', 1, CAST(N'1970-05-12T00:00:00.000' AS DateTime), N'120 LÊ LỢI ĐÀ NẴNG')
INSERT [dbo].[GIAOVIEN] ([MAGV], [TENGV], [GT], [NGAYSINH], [DIACHI]) VALUES (N'CNTCNP02', N'TRẦN THỊ CẨM NHUNG', 0, CAST(N'1979-02-15T00:00:00.000' AS DateTime), N'49 LÊ HỒNG PHONG ĐÀ NẴNG')
INSERT [dbo].[GIAOVIEN] ([MAGV], [TENGV], [GT], [NGAYSINH], [DIACHI]) VALUES (N'CNTHTT01', N'TRẦN THỊ HƯƠNG TRÀ', 1, CAST(N'1970-05-12T00:00:00.000' AS DateTime), N'125 TRẦN PHÚ QUẢNG BÌNNH')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [CVHT]) VALUES (N'K19CDQ', N'CAO ĐẲNG QUẢN TRỊ MẠNG', N'LÊ VĂN TÁM')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [CVHT]) VALUES (N'K19CDT', N'CAO ĐẲNG HỆ THỐNG THÔNG TIN', N'QUÁCH TUẤN NGỌC')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [CVHT]) VALUES (N'K19HTT', N'HỆ THỐNG THÔNG TIN', N'ÔNG VĂN THÔNG')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTC]) VALUES (N'CSDL', N'CƠ SỞ DỮ LIỆU', 3)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTC]) VALUES (N'CTDL', N'CẤU TRÚC DỮ LIỆU', 3)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTC]) VALUES (N'TIDC', N'TIN ĐẠI CƯƠNG', 3)
GO
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [HOLOT], [PHAI], [NGAYSINH], [DIACHI], [DIENTHOAI], [MALOP]) VALUES (N'SV01', N'PHAN TRUNG', N'HIẾU', 1, CAST(N'1994-06-12T00:00:00.000' AS DateTime), N'22 ÔNG ÍCH KHIÊM - ĐÀ NẴNG', N'0917890078', N'K19TPM')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [HOLOT], [PHAI], [NGAYSINH], [DIACHI], [DIENTHOAI], [MALOP]) VALUES (N'SV02', N'DƯƠNG YẾN ', N'NGỌC', 0, CAST(N'1994-09-10T00:00:00.000' AS DateTime), N'190 PHAN THANH - ĐÀ NẴNG', N'', N'K19TPM')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [HOLOT], [PHAI], [NGAYSINH], [DIACHI], [DIENTHOAI], [MALOP]) VALUES (N'SV03', N'NGUYỄN KHƯƠNG', N'TRUNG', 1, CAST(N'1992-10-10T00:00:00.000' AS DateTime), N'30 HUỲNH NGỌC HUỆ - ĐÀ NẴNG', N'0913245532', N'K19QTM')
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
USE [master]
GO
